main {
  max-width: 1192px;
  margin: 0 auto;
}
.clientes__button {
  height: 55px !important;
  width: 223px !important;
  font-weight: 900 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}

.clientes__titulo {
  display: flex;
  align-items: center;
}

.clientes__chip {
  width: 26px;
  height: 26px;
  background-color: #ffa800;
  text-align: center;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
}
