.titulo {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #284056;
}

.informacion_parrafo {
  margin: 21px 0 16px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
